*,
::before,
::after {
  box-sizing: border-box;
}

:root {
    --intro-bg: rgb(59, 94, 128);
    --accent-txt: #36a377;

}

/*#3ce3b4 ,
#f4dcbb,
#617d88,
 #b6d6d2,
#344e6c   
#304145 dark green
#15a083
#bac7ce grayish
#e5e6e1 another gray
#3f3b37 almost black
#2b2741 navy
#6a4952 modern maroon
#303e4c steel blue
#0d8fcd  classic blue*/

main {
    margin:auto;
   	/* Styles for better appearance on screens only -- are reset to defaults in print styles later */

	/* Reflect the paper width in the screen rendering (must match size from @page rule) */
	width: 21cm;
	/* Reflect the paper height in the screen rendering (must match size from @page rule) */
	min-height: 29.7cm;
    max-height: 29.7cm;
	/* Reflect the actual page margin/padding on paper in the screen rendering (must match margin from @page rule) */
 
    font-size:0;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(241, 241, 241);


    
}


main > div {
    font-size: .9rem; display:grid;
}

h1, h2, h3, h4 {
    margin:0;
    padding:0;
}

h4 {
    color:var(--accent-txt);
    margin-top:6px;
    margin-bottom:6px;
    font-size:10px;
 
}


/*Removes space between div due to font size */
.introduction{
    background-color:var(--intro-bg);
    padding:1.2rem;
    color:white;
 
}

.introduction > h1 {
    font-size:32px;
  
}    
.introduction > h2 {
    font-size:18px;  
    
}
.introduction > p {
    font-size:14px;
 
}
.contact{
    background-color: #3f3b37;
    height:auto;
    color:white;
}

.contact > ul {
    list-style:none;
    display:flex;
    margin:auto;
    padding: 5px 2px 5px 2px;
}

.contact > ul > li {
    font-size:16px;
    display:flex;
}

.contact > ul > li > i {
   margin:auto;
 }

.contact > ul > li > p{
   margin:auto;
   padding-left:10px;
   padding-right:20px;
}

.row {
    display:flex;
    padding:1.2rem;
    min-height:29.8cm;
    
  
}

/* Create two equal columns that floats next to each other */
.column {
    width: 50%;
 
}


.title {
    font-size:22px;
    color:var(--accent-txt);
    padding-bottom:.5rem;
    text-decoration:underline 3px;

}

.card {
   font-size:12px;
   margin-top:10px;
   margin-bottom:10px;
   padding:0px 4px 0px 4px;

}



.listdiv > ul {
    list-style:none;
    margin:0;
    padding:0;
}

.listdiv > ul > li {
    font-size:14px;
    line-height:20px;
}

/* maybe try 3 sets of inline divs over top of each other instead of a grid */
.ex1, .ex2, .ex3 {
   
        display: grid;
        grid-template-columns: auto auto;
        justify-content:flex-start; 
        padding:3px;
        gap:5px;
        margin-left:-3px;
}

.expertise {
    background-color: var(--accent-txt);
    padding:8px;
    border-radius:2px;
    font-size:18px;
    color:white;
}

.interests {
    display: grid;
    grid-template-columns: auto auto;
    justify-content:flex-start; 
    gap:20px;
}

.interests > div {
    display:flex;
    border-radius:2px;
    font-size:20px;
    width:8rem;
   
}

.interests > div > span {
    margin-top:auto;
    margin-bottom:auto;

}

.interests > div > p {
   
    margin:10px;
}

.interests > div> span > i {
    color:var(--accent-txt);
    margin-right:10px;
}